/*--------------------------------------------------------------
# Imports, Global Styles, & CSS Variables
--------------------------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --main_brand_colour: #000;
    --secondary_brand_colour: #788286;
    --tabcordion_bg_colour: #FFF7D7;
    --submit_btn_bg: #FDE05D;
}


/*--------------------------------------------------------------
# Eric Meyer CSS Reset
--------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/* Main */

body {
    background: url(./images/layered-waves-mobile.svg) repeat center center fixed;
    display: grid;
    place-content: center;
    height: 100vh;
}


/*  Tabcordion */

.tabcordion {
    background-color: var(--tabcordion_bg_colour);
    width: 19rem;
    border-top: solid 5px black;
}

.tabcordion h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    width: 12.25em;
    padding: 1.5em 0;
    margin: 0 auto;
}

[role='tablist'] button {
    display: grid;
    grid-template-columns: 90% 1fr;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    background-color: transparent;
    text-align: left;
    border: none;
    border-top: solid 1px #C9C9C9;
    padding: 0.5em;
    width: 100%;
}

[role='tab'] span {
    height: 24px;
    width: 24px;
    transition: transform 0.3s linear;
}

[role='tabpanel'] {
    /* tabpanel CSS code from: https://dev.to/lizlaffitte/creating-an-accordion-with-html-css-javascript-3gmn */
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

[role='tabpanel'] p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.75rem;
    color: var(--secondary_brand_colour);
    padding-top: 1rem;
}

/*--------------------------------------------------------------
# Media Breakpoints
--------------------------------------------------------------*/

@media (min-width: 43em) {
    body {
        /* background code from: https://stackoverflow.com/a/5662851 & https://css-tricks.com/perfect-full-page-background-image/ */
        background: url(./images/layered-waves-desktop.svg) no-repeat center center fixed;
        background-size: cover;
    }

    [role='tablist'] {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    [role='tabpanel'] {
        /* changing grid/flex item order code from: https://codepen.io/indri/pen/eEyGWE */
        order: 2;
    }

}